{{!-- pull in materialize to make background jumbotron div (eventually to set background image) --}}

<main id="homePage"
<div class="jumbotron">

<div>
    <h1 class="topH1">welcome to</h1> 
    <h1>{{title}}</h1>
    <h1>intown atlanta's go-to resource for local happenings</h1>
</div>


<footer>
    <a href="/users/new">Create Account</a>
    Already have an account? Check our roster of users <a href="/users"> here</a>
    <br>
    <a href="/admins">Admin</a>

</footer>


</div>

</main>