{{!-- pull in materialize to make background jumbotron div (eventually to set background image) --}}

<main>

    <div id="homePage"></div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://static1.squarespace.com/static/58725f55db29d687bc4aa9bf/5874590c440243faed42c8a9/587460712e69cf4dcbee47cb/1488656800576/YOYO+FERRO_Atlanta+Illustrated+Guide_FINAL.jpg?format=2500w"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">LOCALIVIN</h2>
            <p class="grey-text text-darken-3 lighten-3">intown atlanta's go-to resource for local happenings. we've got the most up-to-date information on what's happening
                when. from neighborhood festivals to farmer's markets, neighborhood association meetings, and more, LOCALIVIN's
                got your back.</p>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://2wzlm92dvpgd3a560m9ue6tx-wpengine.netdna-ssl.com/images/Atlanta_Beltline_Eastside_Extension/3-Atlanta-Beltline-Eastside-Trail-Extension.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">about</h2>
            <p class="grey-text text-darken-3 lighten-3">created to help get intown atlantans more active in their tight-knit communities, LOCALIVIN is a collaborative
                network. users can submit new events whenever they'd like and can submit new neighborhoods for approval.
                an ever-growing resource, we're always looking to expand our database of neighborhoods.</p>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="https://media-cdn.tripadvisor.com/media/photo-s/0c/8f/3c/4a/keep-an-eye-out-for-the.jpg"></div>
    </div>

    <div class="section white">
        <div class="row container">
            <h2 class="header">about</h2>
            <p class="grey-text text-darken-3 lighten-3">interested in getting involved?<a href="/users/new"> create an account</a> and get started! think you've already
                got one? check out our roster of users <a href="/users"> here.</a></p>
        </div>
    </div>

    </div>
</main>