{{!-- pull in materialize to make background jumbotron div (eventually to set background image) --}}

<main id="homePage">

  <div class="parallax-container">
    <div class="parallax"><img src="https://static1.squarespace.com/static/58725f55db29d687bc4aa9bf/5874590c440243faed42c8a9/587460712e69cf4dcbee47cb/1488656800576/YOYO+FERRO_Atlanta+Illustrated+Guide_FINAL.jpg?format=2500w"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">welcome to {{title}}</h2>
      <p class="grey-text text-darken-3 lighten-3">intown atlanta's go-to resource for local happenings. we've got the most up-to-date information on what's happening when. from neighborhood festivals to farmer's markets, neighborhood association meetings, and more, LOCALIVIN's got your back.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://www.accessatlanta.com/rf/image_large/Pub/p8/AccessAtlanta/2017/05/30/Images/skyWord.438751-fullsizerender-11.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">{{title}} users</h2>
      <p class="grey-text text-darken-3 lighten-3"><a href="/users/new">create an account</a></p>
      <p class="grey-text text-darken-3 lighten-3"> already have an account? check out our roster of users <a href="/users">here.</a>       
 
    </div>



{{!-- 
<div>
    <h1 class="topH1">welcome to {{title}}</h1>
    <h1>intown atlanta's go-to resource for local happenings</h1>

    <a href="/users/new">Create Account</a>
    Already have an account? Check our roster of users <a href="/users"> here</a>
    <br>
    <a href="/admins">Admin</a>
</div> --}}



{{!-- 
</main> --}}