{{!-- pull in materialize to make background jumbotron div (eventually to set background image) --}}
<div class="jumbotron">
     

  <nav>
    {{!-- pull in materialize to make nav bar --}}
    <div class="nav-wrapper  blue-grey">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right ">
        <li><a href="/">Home</a></li>
        <li><a href="/neighborhoods">Neighborhoods</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </div>
  </nav>



<div>
    <h1>welcome to</h1> 
    <h1>{{title}}</h1>
    <h1>intown atlanta's go-to resource for local happenings</h1>
</div>


<footer>
    <a href="/users/new">Create Account</a>
    Already have an account? Check our roster of users <a href="/users"> here</a>
    <br>
    <a href="/admins">Admin</a>

</footer>


</div>