
<header>
    <a href="">Home</a>
    <a href="">Neighborhoods</a>
    <a href="">Users</a>
</header>

<div>
    <h1>welcome to</h1> 
    <h1>{{title}}</h1>
    <h1>intown atlanta's go-to resource for local happenings</h1>
</div>


<footer>
    <a href="">CREATE ACCOUNT</a>
    <a href="">VIEW USERS</a>

</footer>