<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>

  {{!-- link materialize --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> {{!-- link own style sheet --}}

  {{!-- link own stylesheet --}}
  <link rel='stylesheet' href='/stylesheets/style.css'> 
  
  {{!-- link google fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
 
  {{!-- link jquery  --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

  {{!-- link icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>

<body>


  <nav>
    <div class="nav-wrapper blue lighten-3">
      <a href="/" class="brand-logo">LOCALIVIN</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons"> <i class="material-icons">menu</i></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/" class="black-text">Home</a></li>
        <li><a href="/neighborhoods" class="black-text">Neighborhoods</a></li>
        <li><a href="/users" class="black-text">Users</a></li>
        <li><a href="/admins" class="black-text">Admin</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/" class="black-text">Home</a></li>
        <li><a href="/neighborhoods" class="black-text">Neighborhoods</a></li>
        <li><a href="/users" class="black-text">Users</a></li>
        <li><a href="/admins" class="black-text">Admin</a></li>
      </ul>
    </div>
  </nav>








  {{{body}}}

  <footer class="page-footer blue lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h6 class="black-text">LOCALIVIN established 10.3.2017</h6>
        </div>
        <div class="col l4 offset-l2 s12">
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="/javascripts/main.js"></script>

</body>

</html>