body {
  font-family: 'Roboto Condensed', sans-serif; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;   
}

nav {
  color: black
}

h1 {
  font-size: 28px;
  margin: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

h3 {
  font-size: 18px;
  margin: 10px;
}

h2 {
  font-size: 23px;
}

main {
  /* height: 1000px; */
  flex: 1 0 auto;
}

.topH1 {
  margin-top: 0px;
  padding-top: 200px;
}

#card-title {
  font-weight: bold;
}

.form-div {
  margin-left: 5px;
  margin-right: 5px;
}

.page-footer {
  padding-bottom: 5px;
}

hr {
  margin-top: 10px;
}

.neighborhood-panel{
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

/* .parallax-container{
  position: relative;  
 }
 
 .parallax img{
   display: inherit !important;
 } */