body {
  font-family: 'Roboto Condensed', sans-serif; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;   
}

nav {
  color: black
}

h1 {
  font-size: 28px;
  margin: 10px;
  margin-top: 0px;
  padding-top: 10px;
}

h3 {
  font-size: 18px;
  margin: 10px;
}

h2 {
  font-size: 23px;
}

main {
  height: 1000px;
  flex: 1 0 auto;

}

.topH1 {
  margin-top: 0px;
  padding-top: 200px;
}

#card-title {
  font-weight: bold;
}

.form-div {
  margin-left: 5px;
  margin-right: 5px;
}

.page-footer {
  padding-bottom: 5px;
}

hr {
  margin-top: 10px;
}

.parallax-container{
  position: relative;
  overflow: hidden;
  height: 700px;
}
.parallax img{
  width: auto;
  height: 100%;
  display: inherit !important;
}

.neighborhood-panel{
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
/* 
#projects {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.thumbnail-caption {
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
}

.thumbnail {
  margin-left: 10px;
  margin-right: 10px;
  margin-block-end: 10px;
  margin-top: 5px;
  
} */