<h2>Welcome Admin! Below are neighborhoods pending approval. Please review and approve if valid.</h2>
{{#each neighborhoods}}
    <div>
        <strong>Name: </strong>{{this.name}}
        <strong>Location: </strong>{{this.location}}
    </div>


{{/each}}