<h2>Welcome Admin! Below are neighborhoods pending approval. Please review and approve if valid.</h2>
{{#each neighborhoods}}
    <div>
        <strong>Name: </strong>{{this.name}}
        <strong>Location: </strong>{{this.location}}
        <button onclick="neighborhood.approved = true">Approve Neighborhood</button>
               {{!-- add functionality that makes "approved" boolean flip to "true" and neighborhood post to neighborhood index when button is clicked --}}
    </div>


{{/each}}
