<div>
    <h1>LOCALIVING's Registered Users</h1>

    {{#each users}}
        <div>
            <a href="/users/{{this.id}}">{{this.name}}</a>
        </div>

    {{/each}}


    <div>
        <br>
       <a href="/users/new">Create a New User</a> 
       <br> <br>
        <a href="/">Back to LOCALIVING's Homepage</a> - 
        <a href="/neighborhoods">View LOCALIVING's Neighborhood Index</a>
    </div>