<div>
    <h1>LOCALIVING's REGISTERED USERS</h1>

    
    {{#each users}}
        <div>
            <a href="/users/{{this.id}}">{{this.name}}</a>




        </div>

    {{/each}}


</div>




</div>

    <h6>
        <a href="/users/new">Create a New User</a>
        <a href="/">Back to LOCALIVING's Homepage</a>
        <a href="/neighborhoods">View LOCALIVING's Neighborhood Index</a>
    </h6>