<main class="blank-page-background"> 


<div>
    <br>
    <h1 class="user-name">LOCALIVING's Registered Users</h1>
    <br>
</div>



    {{#each users}}
        <div>
            <ul>
                <li id="user-list"><i class="material-icons">account_box</i><a href="/users/{{this.id}}">{{this.name}}</a>
                </li>
            </ul>
        </div>
    {{/each}}


    <div>
        <br>
        <a id="create-user" href="/users/new">Create a New User</a> 
    </div>
    </main>