<div>

<h1>{{user.name}}'s LOCALIVING Profile</h1>

<h4>NAME: {{user.name}}</h4>
<h4>EMAIL ADDRESS: {{user.email}}</h4>
<h4>HOME NEIGHBORHOOD: {{user.home}}</h4>


</div>


    <a href="/">Back to LOCALIVING's Homepage</a>



