<main>
<div class="form-div">
    <h2>Would you like to see a new neighborhood added to LOCALIVING's database? Submit one below:</h4>

    <form action="/neighborhoods" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">

        <label for="location">Location: </label>
        <input type="text" name="location">

        <label for="description">About: </label>
        <input type="text" name="description">

        <label for="image">Image (url): </label>
        <input type="text" name="image">

        <input type="submit" value="Submit Neighborhood">

    </form>
    <hr>
    <h3>Once approved, images will be assigned by LOCALIVING's staff</h3>

    <h3>All submitted neighborhoods will be reviewed before being added to the database. Please allow seven to 10 days for review.</h3>

</div>
</main>