<div>
    <h4>Would you like to see a new neighborhood added to LOCALIVING's database? Submit one below:</h4>

    <form action="/neighborhoods" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">

        <label for="location">Location: </label>
        <input type="text" name="location">

        <label for="description">About: </label>
        <input type="text" name="description">

        <input type="submit" value="Submit Neighborhood">

    </form>
    <h4>Once approved, images will be assigned by LOCALIVING's staff</h4>

    <h4>*Note: All submitted neighborhoods will be reviewed before being added to the database. Please allow seven to 10 days for review.*</h4>



</div>




