<div>
    <h4>Would you like to see a new neighborhood added to LOCALIVING's database? Submit a new one <a href="">here</a></h4>

    <form action="/neighborhoods" method="POST">
        <label for="name">Name: </label>
        <input type="text" name="name">

        <label for="location">Location: </label>
        <input type="text" name="location">

        <input type="submit" value="Submit Neighborhood">

    </form>

    <h4>*Note: All submitted neighborhoods will be reviewed before being added to the database. Please allow seven to 10 days for review.*</h4>



</div>




